body {
    font: 14px/1.5 "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #2c3e50;
    font-weight: 300;
    background-color: rgb(255, 248, 244);
}

h1, h2, h3 {
    color: #4F4E77;
}

img
{
    max-width: 100%; 
}
.incontainer
{
  user-select:none;
  -webkit-user-select:none;
  -moz-user-select:none;
}

.exampleChart svg {
    font-size: 12px;
}

.selected
{
    fill: #2c3e50 !important;
    opacity:0.8 !important;
}

#source {
    font-size: 12px;
}


#content pre
{
 
    overflow: hidden;
}

#snippet 
{
    font-size: 18px;    
}

.exampleChart {
    user-select: none;
    -webkit-user-select: none;
    -mox-user-select: none;
}

.d3-tip
{
    background-color: #333;
    color: #fff;
    padding: 1em;
    font-size: 12px;
    fill: none;
}

path.in-line
{
    stroke-width: 3;
    transition: 0.25s ease all;
    -webkit-transition: 0.25s ease all;
    -moz-transition: 0.25s ease all;
}

path.in-line:hover
{
    stroke: darkblue;

}

#wrapper {
  padding-left: 350px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  margin-left: -350px;
  left: 350px;
  width: 350px;
  position: fixed;
  height: 100%;
  z-index: 1000;
  transition: all 0.4s ease 0s;
  overflow-x: visible !important;
  overflow-y: scroll;
}

#page-content-wrapper {
  width: 100%;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 350px;
  list-style: none;
  margin: 0;
  padding: 0;
}

#exampleChart, .exampleChart
{
  fill: none;
}


#fields li .badge, .measureButton
{
  display:none;
  cursor: pointer;
  transition: 0.3s fade all;
}

#fields li:hover .badge
{
  display:inline-block;
}


.panel-group .panel
{
  overflow: visible !important;
}

#fields li .badge:hover
{
    
}

.bubble:hover
{
  opacity:1;
}

.charticon
{
  cursor: pointer;
}

@media (max-width:767px) {

    #wrapper {
      padding-left: 0;
    }

    #sidebar-wrapper {
      left: 0;
    }

    #wrapper.active {
      position: relative;
      left: 350px;
    }

    #wrapper.active #sidebar-wrapper {
      left: 350px;
      width: 350px;
      transition: all 0.4s ease 0s;
    }

}

.chartcontainer
{
  width:200px;
  height:250px;
  float:left;
  margin-right:50px;
}

.chartbox
{
  width:100%;
  height:200px;
}

.chartcaption
{
  width:100%;
  height:50px;
  text-align:center;
  font-size:10pt;
}
