body {
    font: 14px/1.5 "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #2c3e50;
    font-weight: 300;
    background-color: rgb(255, 248, 244);
}

h1, h2, h3 {
    color: #4F4E77;
}

img
{
    max-width: 100%; 
}

.exampleChart svg {
    font-size: 12px;
}


#source {
    font-size: 12px;
}


#content pre
{
 
    overflow: hidden;
}

#snippet 
{
    font-size: 18px;    
}

.exampleChart {
    user-select: none;
    -webkit-user-select: none;
    -mox-user-select: none;
}

.d3-tip
{
    background-color: #333;
    color: #fff;
    padding: 1em;
    font-size: 12px;
    fill: none;
}

.x-axis, .y-axis, .in-axis
{
    stroke: #999;
    stroke-width: 1;
    shape-rendering: crispEdges;
    fill: none;
}

path.in-line
{
    stroke-width: 3;
    transition: 0.25s ease all;
    -webkit-transition: 0.25s ease all;
    -moz-transition: 0.25s ease all;
}

.in-axis text
{
    stroke: #777;
}

circle.target-point 
{
    stroke: #33485d;
    fill: #fff;
    stroke-width: 2;
}

path.in-line:hover
{
    stroke: darkblue;

}