body {
    font: 14px/1.5 "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #2c3e50;
    font-weight: 300;
    background-color: rgb(255, 248, 244);
}

h1, h2, h3 {
    color: #4F4E77;
}

img
{
    max-width: 100%; 
}



/* Index Styles */

.examples
{
  margin-top: 2em;
}

#banner-logo {
  position: absolute;
  top: 6px;
  height: 35px;
}

#twitter img
{
  height: 22px;
}

#download a
{
   color: white;  
}


.colorbox
{
  color: #fff;
  padding: 0.2em 1em;
}

.colorbox h2 {
  font-weight: 700;
}


.visualization
{
  background-color: #43ac6a;
}

.analysis
{
  background-color: #5bc0de;
}

.open {
  background-color: #f39c12;
}
.open a {
  color: #34495e;
}

.intro p {
  margin-top: 2em;
  font-size: 17px;
}

.chartcontainer
{
  display: inline-block;
}

#container-body div {
  margin-top: 20px;
}

.container p
{
  font-weight: initial;
  line-height: 1.5em;
}


/* Example Page Styles */


.incontainer
{
  user-select:none;
  -webkit-user-select:none;
  -moz-user-select:none;
}

.exampleChart svg {
    font-size: 12px;
}

#source {
    font-size: 12px;
}


#content pre
{
 
    overflow: hidden;
}

#snippet 
{
    font-size: 18px;    
}

.exampleChart {
    user-select: none;
    -webkit-user-select: none;
    -mox-user-select: none;
}

#wrapper {
  padding-left: 350px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  margin-left: -350px;
  left: 350px;
  width: 350px;
  position: fixed;
  height: 100%;
  z-index: 1000;
  transition: all 0.4s ease 0s;
  overflow-x: visible !important;
  overflow-y: scroll;
}

#page-content-wrapper {
  width: 100%;
}


.sidebar-nav {
  position: absolute;
  top: 0;
  width: 350px;
  list-style: none;
  margin: 0;
  padding: 0;
}

#exampleChart, .exampleChart
{
  fill: none;
}


#fields li .badge, .measureButton
{
  display:none;
  cursor: pointer;
  transition: 0.3s fade all;
}

#fields li:hover .badge
{
  display:inline-block;
}


.panel-group .panel
{
  overflow: visible !important;
}

#fields li .badge:hover
{
    
}

.charticon
{
  cursor: pointer;
}

@media (max-width:767px) {

    #wrapper {
      padding-left: 0;
    }

    #sidebar-wrapper {
      left: 0;
    }

    #wrapper.active {
      position: relative;
      left: 350px;
    }

    #wrapper.active #sidebar-wrapper {
      left: 350px;
      width: 350px;
      transition: all 0.4s ease 0s;
    }

}


