<div class="container">
    <div class="row">
        <div class="col-md-3">
            <ul class="nav nav-stacked affix-top" id="sidebar">
                <li class="active">
                    <a href="#sec1">Column Charts</a>
                </li>
                <li><a href="#sec2">Row Charts</a>
                </li>
                <li><a href="#sec2">Datasets</a>
                </li>
            </ul>
        </div>
        <div class="col-md-9">
            <h1 class="exampleTitle">{{title}}</h1>

            <div id="partial" ng-include="page.partial" onload="onHtmlLoaded()">

            </div>
            <pre>
                <code id="source" class="language-javascript" ng-include="page.script">
                </code>
            </pre>
            <pre>
                <code id="css" class="language-css" ng-include="page.partialCSS">

                </code>
            </pre>
            <source-file/>
        </div>
    </div>
</div>