<div class="jumbotron">
    <div class="container">
        <h1 class="exampleTitle">{{title}}</h1>
    </div>
</div>
<div class="container">
    <div class="">
        <div>

            <div id="partial" ng-include="page.partial" onload="onHtmlLoaded()">

            </div>
            <pre>
                <code id="source" class="language-javascript" ng-include="page.script">
                </code>
            </pre>
            <pre>
                <code id="css" class="language-css" ng-include="page.partialCSS">

                </code>
            </pre>
            <source-file/>
        </div>
    </div>
</div>