<div class="container">
    <div class="row">

        <div class="col-md-3">

            <ul class="nav nav-stacked affix-top" id="sidebar">

                <li class="active">
                    <a href="#sec1">Column Charts</a>
                </li>
                <li><a href="#sec2">Row Charts</a>
                </li>
            </ul>

        </div>
        <div class="col-md-9">
            <h1 class="exampleTitle">{{title}}</h1>

            <div id="exampleChart" class="exampleChart">
            </div>
            <div id="voteChart" class="exampleChart">
            </div>
            <pre>
                <code id="source" class="language-javascript">
                </code>
            </pre>


        </div>
    </div>
</div>