<div class="jumbotron">
    <div class="container">
        <div class="">
            <h1>Insight Charts</h1>
            <p class="lead">
                Create simple Javascript charts and analytical dashboards with insight.js
            </p>
            <p id="snippet">
                This library is aimed at creating charts quickly and easily, with options to customize appearance and behaviour. Linking charts for analysis is also a key feature of insight.js.
            </p>
        </div>
    </div>

</div>

<div class="container">
    <div class="row">
        <div id="timeChart" class="exampleChart col-md-8">
        </div>
        <div id="pareto" class="exampleChart col-md-4">
        </div>
    </div>
    <div class="row">
        <div id="officeChart" class="exampleChart col-md-4">

        </div>
        <div id="yearChart" class="exampleChart col-md-4">

        </div>
        <div id="personChart" class="exampleChart col-md-4">
        </div>
        <div id="timeChart" class="exampleChart col-md-4">
        </div>
    </div>
</div>

<script type="text/javascript" src="examples/dashboard.js"></script>