<div id="container-body" class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="visualization colorbox">
                <h2>VISUALIZATION</h2>
                <p>
                    InsightJS provides many commonly used visualizations. Column, row, scatter, line and bubble series are currently available.
                </p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="analysis colorbox">
                <h2>ANALYSIS</h2>
                <p>
                    Quickly and easily aggregate your data into more meaningful statistics to explore the patterns inside.
                </p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="open colorbox">
                <h2>OPEN</h2>
                <p>
                    InsightJS is an open source project developed by <a href="http://scottlogic.com">Scott Logic</a>. Find out more or get involved on our <a href="http://github.com/scottlogic/insight">GitHub page</a>.
                </p>
            </div>
        </div>
    </div>
    <div class="intro col-md-12">
        <p>
            The example below uses data from the public iTunes API, allowing easy visualization of the patterns in the data. Explore the charts by clicking on particular bars or bubbles to see if you can spot any interesting patterns in the App Store ecosystem.
        </p>
        <p>
            <button ng-click="filterGenres('Navigation')">Filter</button>
        </p>
    </div>
    <div class="col-sm-12 examples">
        <div class="chartcontainer">
            <div id="languages" class="chartbox"></div>
        </div>
        <div class="chartcontainer">
            <div id="bubble-chart" class="chartbox"></div>
        </div>
        <div class="chartcontainer">
            <div id="genre-count" class="chartbox"></div>
        </div>
    </div>

</div>

<div id="footer" class="container">
    <footer>Insight.js is an open source project created and maintained by <a target="_blank" href="//scottlogic.com">Scott Logic</a>
    </footer>
</div>