<div class="row">
    <div class="col-md-4">
        <h2>Genre Distribution</h2>
        This bar chart displays the automatically calculated app counts across the app genre dimension.
    </div>

    <div id="genreCount" class="exampleChart col-md-8">

    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Time Chart</h2>
        This chart shows the number of new apps on a monthly time line.
        <div>
            <div class="btn-group">
                <button id="timecumulative" type="button" class="btn btn-default btn-sm">Cumulative</button>
                <button id="timemonthly" type="button" class="btn btn-default btn-sm">Monthly</button>
            </div>
        </div>
    </div>
    <div id="releases" class="exampleChart col-md-8">

    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Bubble Chart</h2>
        <p>This bubble chart shows an example of 2 linear axes and a bubble series with a configurable radius function.</p>
        <div>
            <div>
                <h4>
                    <strong>X Axis</strong>
                </h4>
            </div>
            <div class="btn-group">
                <button id="xsumrating" type="button" class="btn btn-default btn-sm">Total Ratings</button>
                <button id="xavgrating" type="button" class="btn btn-default btn-sm">Average Rating</button>
                <button id="xavgsize" type="button" class="btn btn-default btn-sm">Avg Size (Mb)</button>
            </div>
        </div>
        <div>
            <div>
                <h4>
                    <strong>Y Axis</strong>
                </h4>
            </div>
            <div class="btn-group">
                <button id="yavgprice" type="button" class="btn btn-default btn-sm">Avg Price</button>
                <button id="yavgrating" type="button" class="btn btn-default btn-sm">Avg Rating</button>
                <button id="yavgratings" type="button" class="btn btn-default btn-sm">Avg # Ratings</button>
            </div>
        </div>
        <div>
            <div>
                <h4>
                    <strong>Radius</strong>
                </h4>
            </div>
            <div class="btn-group">
                <button id="radcount" type="button" class="btn btn-default btn-sm">Number of Apps</button>
                <button id="radprice" type="button" class="btn btn-default btn-sm">Price</button>
                <button id="radsize" type="button" class="btn btn-default btn-sm">Avg Size (Mb)</button>
            </div>
        </div>
    </div>


    <div id="bubbleChart" class="exampleChart col-md-8">

    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Table</h2>
        <p>InsightJS also supports tables. Try selecting rows to filter the data set.</p>

    </div>
    <div id="table" class="col-md-8">
    </div>
</div>