<div class="row">
    <div class="col-md-6">
        <p>
            The correlation coefficient of data represents how strong or weak a trend is between the two axis parameters.
            A correlation of 0 means the parameters are unrelated, while a value closer to +1 or -1 means a very strong
            relationship.</p>
        <p>
            Correlations can either be on raw data using <code>insight.correlation.fromValues(xValues, yValues)</code>,
            or on a dataset using <code>insight.correlation.fromDataSet(dataset, xFunction, yFunction)</code>. Both of
            these can also take an additional <code>errorContainer</code> argument, which is populated with data about
            any errors encountered when processing the data.
        </p>
        <p>Change the axis measurements to see how the correlation coefficient changes.</p>
        <p><b>Correlation coefficient</b>: <span id="correlationCoefficient">0</span></p>
        <div>
            <div>
                <h4>
                    <strong>X Axis</strong>
                </h4>
            </div>
            <div class="btn-group">
                <button id="xsumrating" type="button" class="btn btn-default btn-sm">Total Ratings</button>
                <button id="xavgrating" type="button" class="btn btn-default btn-sm">Average Rating</button>
                <button id="xavgsize" type="button" class="btn btn-default btn-sm">Avg Size (Mb)</button>
            </div>
        </div>
        <div>
            <div>
                <h4>
                    <strong>Y Axis</strong>
                </h4>
            </div>
            <div class="btn-group">
                <button id="yavgprice" type="button" class="btn btn-default btn-sm">Avg Price</button>
                <button id="yavgrating" type="button" class="btn btn-default btn-sm">Avg Rating</button>
                <button id="yavgratings" type="button" class="btn btn-default btn-sm">Avg # Ratings</button>
            </div>
        </div>
    </div>


    <div id="bubbleChart" class="exampleChart col-md-6">

    </div>
</div>
