<div class="row">
    <div class="col-md-12">
        <h2>Pareto chart</h2>
    </div>
</div>
</div>
<div class="row">
    <div class="col-md-6 description" >
        <p>
            This pareto chart uses two y-axes and two series. The cumulative revenue axis is positioned on the right
            using <code>cumulativeRevenueAxis.reversedPosition(true)</code>.
        </p>
        <p>
            The two axes are added to the chart using <code>chart.yAxes([clientRevenueAxis, cumulativeRevenueAxis])</code>.
        </p>
        <p>
            The two series are added to the chart using <code>chart.series([clientRevenues, cumulativeRevenue])</code>.
        </p>
    </div>

    <div id="pareto" class="exampleChart col-md-6">

    </div>
</div>