<div class="row">
    <div class="col-md-6 description" >
        <p>Column and Row charts can be displayed either with adjacent Bars, or with Bars stacked on top of each other.
            Simply set <code>series.isStacked(true)</code> to enable stacking, or <code>series.isStacked(false)</code> to disable it.</p>

        <p>Use the button to toggle between the two.</p>

        <code class="language-javascript">
var series = new insight.ColumnSeries('Column', data, xAxis, yAxis);
series.isStacked(true);
        </code>
        <button id="toggle" class="btn btn-primary">Toggle Stacking</button>
    </div>

<div id="exampleChart" class="exampleChart col-md-6">

</div>
