.exampleChart svg {
    font-size: 12px;
}

.d3-tip
{
    background-color: #333;
    color: #fff;
    padding: 1em;
    font-size: 15px;
    opacity: 0.8;
    transition: 0.2s ease all;
}

.x-axis, .y-axis, .in-axis
{
    stroke: #B1CBE6;
    stroke-width: 1;
    shape-rendering: crispEdges;
    fill: none;
}

circle.target-point 
{
    stroke: #fff;
    fill: cyan;
    stroke-width: 1;
}

rect.bar
{
    transition: 0.2s ease all;
}

rect.bar:hover
{
    fill: #34495e;
}

.axis-label
{
    color: #34495e;
    font-weight: bold;
}

.bubble
{
    opacity: 0.5;
    stroke: #FFF;
    stroke-width: 2;
    transition: 0.3s ease all;
    fill: rgb(44, 44, 85);
}
.bubble:hover
{
    stroke: #222;
}