.exampleChart svg {
    position: relative;
    font-size: 12px;
}

.d3-tip
{
    background-color: #333;
    color: #fff;
    padding: 1em;
    font-size: 15px;
    opacity: 0.8;
    transition: 0.2s ease all;
    -webkit-border-radius: 2px;
    -border-radius: 2px;
    -moz-border-radius: 2px;

}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -2px 0 0 0;
  top: 100%;
  left: 0;
}

/*Line Styles*/

path.in-line
{
    stroke-width: 3;
}

rect.bar
{
    transition: 0.2s ease all;
}
.notselected
{
    fill: silver !important;
    opacity: 0.5 !important;
}

.axis-label
{
    color: #34495e;
    font-weight: bold;
}

#toggle
{
    display:inline-block;
}

rect.bar
{
    transition: 0.2s ease all;
}