/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
 p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, code{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;    
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {

    font-family: "Open Sans";
    color: #5F5D5D;
    height: 100%;
}

body {
    height: 100%;
}

h1, h2, h3 {
    color: #333;
    font-weight: normal;
}

#content {
}

#source {
    font-size: 12px;
}

#description {
    padding: 3em 6em;
}

#content pre
{
    padding: 0 6em;
    overflow: hidden;
}

#chartContainer {
    
    position: fixed;
    width: 700px;
    height: 100%;
    text-align: center;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 4em 0;
    border-left: solid 1px #E4E4E4;
    background-color: #F2F8FD;
}

.exampleChart {
    display: inline-block;
    user-select: none;
    -webkit-user-select: none;
    -mox-user-select: none;
}

.exampleChart svg {
    font-size: 12px;
}

.exampleChart .title {
    text-align: center;
    font-weight: bold;
}

.d3-tip
{
    background-color: #333;
    color: #fff;
    padding: 1em;
    font-size: 12px;
}